@media (max-width: 600px){/* ajusta con un ancho de panatalla de 600px*/
.Productos{
    display: inherit; /*organiza los elementos de forma vertical*/
    height: auto; /*ajuste la altura de forma automatica*/
}
.Products{
    margin-top: auto;
}
}